<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="pranamya/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="pranamya/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="pranamya/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="pranamya/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="pranamya/view_tc/css/main.css" rel="stylesheet" media="all">
</head>
<style>
    body {
        background-image: url('pranamya/img/bg.avif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div>
                        <p>Airline number : <%= details[0].airlineid %> </p>
                    </div>
                    <br>
                    <div>
                        <p>Airline name : <%= details[0].airline_name %> </p>
                    </div>
                    <br>
                    <div>
                        <p>Flight number : <%= details[0].flightno %> </p>
                    </div>
                    <br>
                    <div>
                        <p>Runway assigned?(y/n) : <%= details[0].runwayassigned %> </p>
                    </div>
                    <br>
                    <div>
                        <p>Air bus/Ground : <%= details[0].airbus_ground %></p>
                    </div>
                    <br>
                    <div>
                        <p>traffic cleared?(y/n) : <%= details[0].trafficclearance %></p>
                    </div>
                    <br>
                    <div>
                        <p> Ground staff informed?(y/n) : <%= details[0].groundstaffinformed %></p>
                    </div>
                    <br>
                    <br>
                    <div class="mb-3 mr-3">
                        <a href="/flight-control">
                            <button class="btn btn--radius-2 btn--blue">Back</button>
                    </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="pranamya/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="pranamya/vendor/select2/select2.min.js"></script>
    <script src="pranamya/vendor/datepicker/moment.min.js"></script>
    <script src="pranamya/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="pranamya/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->